<section class="scrollable wrapper">
    <div class="displayiblock width100">
        <div class="page-wrapper"> 
            <h1 class="page-heading">Questions</h1>
            <div class="search-bar-opt">
                <div class="col-md-5">
                    <div class="search-bar-fo">
                        <input type="search" placeholder="Search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="col-md-offset-7">
                    <div class="displayiblock width100 text-right">
                        <a href="#" class="button-add-pop" data-toggle="modal" data-target="#nQuestions">
                            New Questions
                        </a>
                    </div>
                </div>
            </div>
            <div class="data-tables no-rigt-border displayiblock width100">
                <div class="tableoverflower displayiblock width100">
                    <div class="table-main displayiblock width100">
                        <div class="table-body displayiblock width100">
                            <div class="table-tr table-heading  displayiblock width100">
                                <div class="table-td float-left tw-10 text-center">
                                    <span>Q No.</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Answer</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>User Answered</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Date Created</span>
                                </div>
                                <div class="table-td float-left tw-30 text-center">
                                    <span>Actions</span>
                                </div>
                                <div class="">
                                    
                                </div>
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>21</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Question title</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>4</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/19</span>
                                </div>
                                <div class="table-td float-left tw-30 text-center"> 
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-edit"></i> Edit
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-trash-alt"></i> Delete
                                    </a>
                                </div><div></div>

                                <!-- table td view box end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>