<div class="col-md-12 mainWrrapper">
  <div class="card wrapper">
      <div class="header" class="col-sm-4">
          <h4 class="title">Adds List</h4>
                <mat-form-field appearance="legacy">
                      <mat-label>Search</mat-label>
                      <input  matInput placeholder="Placeholder" [(ngModel)]="searchObject.search"   (keyup.enter)="search(searchObject)">
                      <mat-icon matSuffix (click)="search(searchObject)"><i  class="fa fa-search"></i></mat-icon>
               </mat-form-field>
      </div>
     
      <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
              <thead>
                  <th>S.No.</th>
                  <th>Image</th>
                  <th>Vender</th>
                  <th>Status</th>
                  <th>Date Created</th>
                  <th>Action</th>
              </thead>
              <tbody>
                  <tr *ngFor="let item of adminUsers;let i=index;">
                      <td>{{i+1}}</td>
                      <td><img src="{{item.vendor.profileImage}}" style="height:60px;width:60px"/></td>
                      <td><a style="text-decoration: blue underline" [routerLink]="['adsdetails',item.vendor._id]">{{item.vendor.name}}</a></td>
                      <td ><span *ngIf="item.isApprove=='1'">Approved</span> <a *ngIf="item.isApprove=='0'" href="#" (click)="ApproveStatus(item._id)" >Pending </a></td>
                      <td>{{item.created | date}}</td>
                      <td>
                            <a [ngClass]="item.active==0?'deact':'act'" class="ttd-linker" (click)="enableDisableAccount(item.vendor._id,item.active)"><i  class="far fa-times-circle"></i> Deactivate  </a>
                      </td>
                  </tr>
              </tbody>
          </table>
          <tfoot *ngIf="adminUsers">
      <mat-paginator [length]="adminUsers.length"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"  (page)="getNext($event)">
    </mat-paginator>
          </tfoot>

      </div>
  </div>
</div>
