
<section class="scrollable wrapper">
  <form [formGroup]="userForm" (ngSubmit)="save(userForm.value)"  novalidate>

  
    <div class="displayiblock width100">
        <div class="page-wrapper"> 
            <h1 class="page-heading">{{pageTitle}} Admin</h1>
            <div class="search-bar-opt">
            </div>
           <div class="col-sm-12">
<div class="col-sm-6">
  <div class="createDiv">
    <div class="example-container" class="">  
        <mat-form-field>
            <input matInput placeholder="User name" formControlName="name" required [(ngModel)]="user.name">
            <mat-error *ngFor="let validation of validationMessage.name">
                <mat-error class="error-message" *ngIf="userForm.get('name').hasError(validation.type) && (userForm.get('name').dirty || userForm.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>   
        
        <!-- <mat-form-field>
            <input matInput [(ngModel)]="obj.name"  placeholder="Name" formControlName="name" required>
            <mat-error *ngFor="let validation of validationMessage.name">
                <mat-error class="error-message" *ngIf="userForm.get('name').hasError(validation.type) && (userForm.get('name').dirty || userForm.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field> -->



       </div>
       <div class="example-container" class="">
          <mat-form-field>
              <input matInput  placeholder="Email" formControlName="email" [(ngModel)]="user.email" required>
              <mat-error *ngFor="let validation of validationMessage.email">
                  <mat-error class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>    
      </div>
      <div class="example-container" class="">
          <mat-form-field>
              <input matInput placeholder="Phone" minlength="9" maxlength="10" [(ngModel)]="user.phone" formControlName="phone" required>
              <mat-error *ngFor="let validation of validationMessage.phone">
                  <mat-error class="error-message" *ngIf="userForm.get('phone').hasError(validation.type) && (userForm.get('phone').dirty || userForm.get('phone').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>    
      </div>
      <div class="example-container" class="">
          <mat-form-field>
              <input type="password" minlength="5" maxlength="6"  [(ngModel)]="user.password" matInput placeholder="Password" formControlName="password" required>
              <mat-error *ngFor="let validation of validationMessage.password">
                  <mat-error class="error-message" *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>    
      </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="createDiv">
      <!-- <div class="example-container" class="">
          <mat-checkbox  formControlName="dashBoard">Dashboard</mat-checkbox>
         </div> -->
         <!-- <div class="example-container" class="">
            <mat-checkbox  formControlName="accounts">Account</mat-checkbox>  
        </div> -->
        <div class="example-container" class="">
            <mat-checkbox [checked]="user.vendors"  formControlName="vendors">Vendor</mat-checkbox>     
        </div>
        <div class="example-container" class="">
            <mat-checkbox [checked]="user.support"  formControlName="support">Support</mat-checkbox>      
        </div>
        <div class="example-container" class="">
            <mat-checkbox [checked]="user.ads"  formControlName="ads" >Ads</mat-checkbox>      
        </div>
        <!-- <div class="example-container" class="">
            <mat-checkbox  formControlName="cms">Cms</mat-checkbox>      
        </div> -->
        <!-- <div class="example-container" class="">
            <mat-checkbox [(ngModel)]="subadminObject.dashBoard" > Admin User</mat-checkbox>      
        </div>
       
        <div class="example-container" class="per">
            <mat-checkbox>Add</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox>View</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox>Edit</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox>Delete</mat-checkbox> 
        </div> -->
       
      </div>
  </div>
           </div>
          
        </div>
      
    </div>
    <div class="btnDiv"> 
      <button type="submit" [disabled]="!userForm.valid" mat-raised-button color="primary" >{{pageTitle}}</button> &nbsp;
        <!-- <button mat-stroked-button color="primary" type="submit" >Save</button>&nbsp;&nbsp; -->
        <button mat-raised-button color="" routerLink="/home/users">Go Back</button>
     </div>
    </form>
</section>