<div class="col-md-12 mainWrrapper">
    <div class="card wrapper">
        <div class="header" class="col-sm-4">
            <h4 class="title">User List</h4>
                  <mat-form-field appearance="legacy">
                        <mat-label>Search</mat-label>
                        <input  matInput placeholder="Placeholder" [(ngModel)]="searchObject.search"   (keyup.enter)="search(searchObject)">
                        <mat-icon matSuffix (click)="search(searchObject)"><i  class="fa fa-search"></i></mat-icon>
                 </mat-form-field>
        </div>
        <!-- <div  class="col-sm-4 headerfilter">
            <mat-radio-group>
                <mat-radio-button value="1">All Account</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="2">Subscription</mat-radio-button>
              </mat-radio-group>
        </div> -->
        <div class="content table-responsive table-full-width">
            <div *ngIf="totalCount==0" class="no-record">
                <img src="../../../../../../assets/images/no record found.png">
              </div>
            <table class="table table-hover table-striped">
                <thead>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Subscription</th>
                    <th>Last Payment</th>
                    <th>Next Payment</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of adminUsers;let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.created | date}}</td>
                        <td>{{item.created | date}}</td>
                        <td>
                              <a [ngClass]="item.active==0?'deact':'act'" class="ttd-linker" (click)="enableDisableAccount(item._id,item.active)"><i  class="far fa-times-circle"></i>  </a>
                               &nbsp; &nbsp; 
                               <a  class="ttd-linker" [routerLink]="['details',item._id]"><i  class="far far fa-eye"></i>  </a> 
                        </td>
                    </tr>
                </tbody>
            </table>
            <tfoot *ngIf="adminUsers">
        <mat-paginator [length]="totalCount"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"  (page)="getNext($event)">
      </mat-paginator>
            </tfoot>

        </div>
    </div>
</div>
