
<section class="scrollable wrapper">
    <form [formGroup]="userForm" (ngSubmit)="changePassword(userForm.value)"  novalidate>
      <div class="displayiblock width70 card">
          <div class="page-wrapper"> 
              <h1 class="page-heading">Change Password</h1>
              <div class="search-bar-opt">
              </div>
             <div class="col-sm-12">
  <div class="col-sm-12">
    <div class="createDiv">
      <div class="example-container" class="">  
          <mat-form-field>
              <input matInput placeholder="Old Password" formControlName="oldPassword" required>
              <mat-error *ngFor="let validation of validationMessage.oldPassword">
                  <mat-error class="error-message" *ngIf="userForm.get('oldPassword').hasError(validation.type) && (userForm.get('oldPassword').dirty || userForm.get('oldPassword').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>    
         </div>
         <div class="example-container" class="">
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error *ngFor="let validation of validationMessage.password">
                    <mat-error class="error-message" *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>    
        </div>
        <div class="example-container" class="">
            <mat-form-field>
                <input matInput type="password" placeholder="Confirm password" formControlName="confirm_password" required>
                <mat-error *ngFor="let validation of validationMessage.confirm_password">
                    <mat-error class="error-message" *ngIf="userForm.get('confirm_password').hasError(validation.type) && (userForm.get('confirm_password').dirty || userForm.get('confirm_password').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>    
        </div>
       
      </div>
      <div class="btnDiv"> 
          <button type="button" mat-raised-button color="" routerLink="/home/account">Go Back</button>&nbsp;&nbsp;
          <button type="submit" [disabled]="!userForm.valid" mat-raised-button color="primary">Save</button>
         </div>
  </div>
  
  
             </div>
            
          </div>
        
      </div>
    
      </form>
  </section>