<section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-primary aside-sm nav-off-screen" id="nav">
        <section class="vbox">
            <header class="dker nav-bar nav-bar-fixed-top">
                <a routerLink="/home" class="nav-brand">
                    <img src="../../../../../assets/images/logo-vert.png  ">
                </a>
            </header>
            <section>
                <!-- user -->
                <div class=" nav-user pos-rlt">
                    <div class="nav-avatar pos-rlt">
                            <button mat-button [matMenuTriggerFor]="menuleft" class="nav-userbtn">
                                    <img src="../../../../../assets/images/avatar_default.jpg" alt="" class="profile-img"> Admin
                                    <span class="caret"></span> 
                            </button>
                            <mat-menu #menuleft="matMenu">
                              <button mat-menu-item routerLink="/home/account/profile">Setting</button>
                              <button mat-menu-item routerLink="/home/account/changepassword">Change Password</button>
                            </mat-menu>

                        <!-- <a href="#" class="thumb-sm avatar" data-toggle="dropdown"> 
                            <img src="../../../../../assets/images/avatar.jpg" alt="" class=""> Admin
                            <span class="caret"></span> 
                        </a> -->
                        <!-- <ul class="dropdown-menu m-t-sm animated fadeInLeft"> <span class="arrow top"></span>
                            <li> <a href="#">Settings</a> </li>
                            <li> <a href="profile.html">Profile</a> </li>  
                        </ul> -->
                    </div>
                </div>
                <!-- / user -->
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li>
                            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico7.png"> 
                                <span>Dashboard</span> 
                            </a>
                        </li>
                        <li class=" " *ngIf="isPermission('accounts')">
                            <a routerLink="/home/account"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" > 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico8.png">  
                                <span>Accounts</span> 
                            </a>
                        </li>
                        <li class="" *ngIf="isPermission('vendors')">
                            <a routerLink="/home/vendor" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico6.png">  
                                <span>Vendor</span> 
                            </a>
                        </li>
                        <li class=" " *ngIf="isPermission('support')">
                            <a routerLink="/home/support" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico5.png">  
                                <span>Support</span> 
                            </a>
                        </li>
                        <!-- <li>
                            <a routerLink="/home/question" [routerLinkActive]="['active']"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico4.png">  
                                <span>Questions</span> 
                            </a>
                        </li> -->
                        <li  *ngIf="isPermission('ads')">
                            <a routerLink="/home/ads" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico3.png">  
                                <span>Ads</span> 
                            </a>
                        </li>
                        <!-- <li  *ngIf="isPermission('cms')">
                            <a routerLink="/home/cms" [routerLinkActive]="['active']"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico2.png">  
                                <span>CMS</span> 
                            </a>
                        </li> -->
                        <li  *ngIf="isPermission('users')">
                            <a routerLink="/home/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}"> 
                                <img class="sidebar-img" src="../../../../../assets/images/sideicons/ico1.png"> 
                                <span>Admin Users</span> 
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav --> 
            </section>
        </section>
    </aside>
    <!-- /.aside -->
    <!-- .vbox -->


    <section id="content">
        <section class="vbox">
            <header class="header bg-white b-b displayiblock width100 ">

                    <button mat-button [matMenuTriggerFor]="menu" class="nav-userbtn-setting">
                            <i class="fas fa-sign-out-alt"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item  (click)="logOut()">Sign Out</button>
                    </mat-menu>
            </header>
            <router-outlet></router-outlet>
        </section>
    </section>
    <!-- /.vbox -->


    
    <!-- /.vbox -->
</section>