<section class="scrollable wrapper">
    <div class="displayiblock width100">
        <div class="page-wrapper"> 
            <h1 class="page-heading">Support</h1>
            <div class="search-bar-opt">
                <div class="col-md-5">
                    <div class="search-bar-fo">
                        <input type="search" placeholder="Search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="utl-radio-cal displayiblock width100">
                        <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> All </div>
                        <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> High </div>
                        <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> Medium </div>
                    </div>
                </div>
            </div>
            <div class="data-tables rigt-border displayiblock width100">
                <div class="tableoverflower displayiblock width100">
                    <div class="table-main displayiblock width100">
                        <div class="table-body displayiblock width100">
                            <div class="table-tr table-heading  displayiblock width100">
                                <div class="table-td float-left tw-10 text-center">
                                    <span>Ticket No.</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Status</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Data Created</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>Comments</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Last Reply</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <span>Action</span>
                                </div>
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                            <div class="table-tr displayiblock width100">
                                <!-- table td details -->
                                <div class="table-td float-left tw-10 text-center">
                                    <span>014</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>High</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Title of the ticket</span>    
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>12/12/17</span>
                                </div>
                                <div class="table-td float-left tw-10 text-center">
                                    <span>3</span>
                                </div>
                                <div class="table-td float-left tw-15 text-center">
                                    <span>Admin</span>
                                </div>
                                <div class="table-td float-left tw-20 text-center">
                                    <a class="ttd-linker" href="#">
                                        <i class="far fa-times-circle"></i> Closs
                                    </a> &nbsp; &nbsp;
                                    <a class="ttd-linker" href="#">
                                        <i class="fas fa-reply"></i> Reply
                                    </a>
                                </div> 
                                <!-- table td view box end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>