

<body class="siging-back">
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp"> 
        <section class="login panel">
            <div class="login-header">
                <div class="lh-img displayiblock width100 text-center">
                    <img src="../../../../assets/images/logo.png">
                </div>
                <span class="sub-head-login displayiblock width100 text-center">
                    Engage the world around you
                </span>
                <span class="head-login displayiblock width100 text-center">
                    Forgot Password
                </span>
            </div>
            <form class="panel-body" [formGroup]="userForm" (ngSubmit)="forgotPassword()" novalidate>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="form-input-group">
                            <input type="email" (keyup)="keyup($event)" placeholder="test@example.com"  #refName required  formControlName="email"  class="form-control" autocomplete="off">
                            <app-error [formCtrl]="userForm.get('email')" [pattern]="error.errors.validEmail"></app-error>
                            <i class="far fa-user"></i>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label">Password</label>
                    <div class="form-input-group">
                        <input type="email" placeholder="*************" class="form-control">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>   -->
                
                <div class="log_button displayiblock width100 text-center">
                        <button type="submit" class="btn btn-theme set-neg-marg">Submit</button>
                        <!-- <a  (ngClick) ="" class="btn btn-theme set-neg-marg">Submit</a> -->
                </div>
            </form>
        </section> 
    </section>
    
      
    </body>
  