<!-- <div [chart]="chart"></div>


<div class="chart-box">
        <div class="col-xs-5">
              <canvas width="550" height="140" id="pieChart"></canvas>
          </div>
          <div class="col-xs-7">
              <div class="space25"></div>
              <div class="chart-discri-list">
                  <div class="chart-dis-name"><span class="color-pointer" style="background: #34b349;"></span> Downloads</div>
                  <div class="chart-dis-number">1.590</div>
              </div>
              <div class="chart-discri-list">
                  <div class="chart-dis-name"><span class="color-pointer" style="background: #f2c729;"></span> Users</div>
                  <div class="chart-dis-number">1.590</div>
              </div>
              <div class="chart-discri-list">
                  <div class="chart-dis-name"><span class="color-pointer" style="background: #65a1d6;"></span> Providers</div>
                  <div class="chart-dis-number">1.590</div>
              </div>
              <div class="chart-discri-list">
                  <div class="chart-dis-name"><span class="color-pointer" style="background: #bfbfbf;"></span> Net Add</div>
                  <div class="chart-dis-number">1.590</div>
              </div>

          </div>
      </div> -->
<div>
    <canvas baseChart  
                [data]="population"  
                [labels]="countries"  
                [chartType]="chartType" [colors]="colors"  [options]="chartOptions"></canvas>  
</div>
      <h2>Coming Soon</h2>